body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #555;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

header {
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    padding: 5px; /* Ajusta el espaciado interno según tus necesidades */
    text-align: left; /* Centra el contenido del header horizontalmente */
}

/* Estilos para el logo */
header img {
    max-width: 80px; /* Establece el ancho máximo del logo */
    height: auto; /* Esto permite que la altura se ajuste automáticamente */
    
}

.h1{
    padding: auto;

}

